<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    
</head>

<body>
    <h1> ORDER DETAIL</h1>

    <table border = "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quantity</th>
                <th>Order Id</th>
                <th>Product Id</th>
            </tr>
        </thead>
        <tbody>
            {% for order_detail in order_details %}    <!--boucle jinja pour parcourir les produits récupérés de la BDD et afficher chaque produit ss forme de ligne ds un tableau HTML-->
            <tr>
                <td>{{ order_detail[0]}}</td>      <!-- balises jinja pour insérer dynamiquement les valeurs des colonnes id, description et price de chaque produit -->
                <td>{{ order_detail[1]}}</td>
                <td>{{ order_detail[2]}}</td>
                <td>{{ order_detail[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>


    </table>
</body>
</html>